* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  color: #444;
  position: relative;
}
.main-grid {
  display: grid;
}
header {
  background-color: aqua;
  position: fixed;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 20px 40px;
  justify-content: space-between;
}
.left-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav {
  margin-left: 50px;
}
nav a:link {
  color: white;
}
nav a:visited {
  color: #444;
}
nav a:active {
  color: red;
}
a:hover {
  color: white;
  font-weight: bold;
}
nav a {
  color: red;
}

.login {
  background-color: #000;
  color: #fff;
}
.login:hover {
  background-color: #fff;
  color: #000;
}

.first-grid {
  background-color: red;
  padding-bottom: 1000px;
  margin-top: 77px;
}
.second-grid {
  background-color: green;
  padding-bottom: 1000px;
  padding-top: 100px;
}
