* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  color: #444;
  position: relative;
}

header {
  background-color: #66d9e8;
  /* position: fixed; */
  display: flex;
  width: 100%;
  align-items: center;
  padding: 20px 40px;
  justify-content: space-between;
}
.left-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav {
  margin-right: 50px;
}
nav a:link {
  color: #444;
}
nav a:visited {
  color: #444;
}
nav a:active {
  color: red;
}
a:hover {
  color: green;
  font-weight: bold;
}
nav a {
  color: red;
}

button {
  cursor: pointer;
}
.button-logout {
  background-color: #fff;
  color: #0b7285;
  padding: 8px 20px;
  border-radius: 14px;
  box-shadow: 0 0 12px 0.1px #676767;
  border: 0;
}
.button-logout:hover {
  background-color: #0c8599;
  color: #99e9f2;
  box-shadow: 0 0 20px 1px #c5f6fa;
}

.main-body {
  margin: 50px 30px;
  display: flex;
  gap: 50px;
}

.settings-navigation {
  width: 150px;
  padding: 10px 10px;
  background-color: #e3fafc;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.settings-content {
  width: 450px;
  padding: 10px 10px;
  background-color: #e3fafc;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
}

.notification-on-off {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
}

.button-password-change {
  flex-shrink: 1;
}
